@charset "ISO-8859-1";

.checkbox {
	position: static;
	display: inline-block;
	left: auto;
	right: auto;
	float: right;
}

.mdpOublie {
	top: auto;
	font-weight: 400;
	margin-top: auto;
	text-align: center;
	text-decoration-line: underline;
}

.center {
	text-align: center;
}

.nolink {
	text-decoration: none;
}

.nolink:hover {
	text-decoration: none;
}

.link {
	text-decoration: underline !important;
	color: #0089ff !important;
}

.lienBouton {
	color: #fff;
}

.bleu {
	background-color: #0080ff;
}

.vert {
	 background-color: #28a745;
}

.red {
	background-color: #ff0000;
}

#blah {
	height: 200px;
	width: 200px;
	object-fit: contain;
}

textarea.noResize {
  resize: none;
  width: 100% !important;
}

#imageVente {
	width: 200px;
	height: 200px;
	display: none;
}

.checkbox {
	float: none !important;
}

button.fatBoutonHalf {
	padding: 10% 45%;
}

.fatBoutonFull {
	/*padding: 10% 60%;*/
}

.dropleft {
	float: right;
	padding-bottom: 20px;
}

fieldset {
	display: block;
	margin-inline-start: 2px;
	margin-inline-end: 2px;
	padding-block-start: 0.35em;
	padding-inline-start: 0.75em;
	padding-inline-end: 0.75em;
	padding-block-end: 0.625em;
	min-width: -webkit-min-content;
	border-width: 2px;
	border-style: groove;
	border-color: threedface;
	border-image: initial;
}

legend {
	padding: 3px 6px;
	width: 20%;
}
.ml-3 {
	margin-left: 0rem !important;
}

.thumbnail {
	width: 200px;
	height: 200px;
	object-fit: contain;
}